@import 'google-fonts';
@import 'variable-overrides';
@import 'bootstrap/scss/bootstrap';
@import 'sticky-footer';


// Add extra top margin to the first row
// in the main element
// because our navbar is fixed
main .row:first-of-type {
  margin-top: 80px;
}

// Some styling for photos
// the height in viewports widths
// helps keeping nice proportions
.photo {
  // 100% of parent element (col):s width
  width: 100%;
  // make the image the same height as it width
  // (a new property, added to css in 2022)
  aspect-ratio: 1 / 1;
  // do not scale the image unproportionally
  // instead cut off part of it,
  // (same prinicple as background-size: cover
  // for background images)
  object-fit: cover;
}

// A 'fake' logo
.logo {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin-top: -5px;

}


.nav-link {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 18px;
}

// More margin/space between the logo and
// the menu when not hamburger-menu
// (on bigger screens)
@media only screen and (min-width: 992px) {
  .logo {
    margin-right: 40px;
  }
}


body {
  padding-top: 50px;
}

.div {
  display: inline-flex;
}

.book-col {
  padding-top: 100px;
}

.bg-dark {
  background-color: #282828 !important;
}

.catergory-btn {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  width: 150px;
}

.catergory-btn:hover {
  border-image: linear-gradient(to right, #42ebd5, #2e7bb3)1;
}

.category-container {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

.book-row {
  padding-left: 100px;
  padding-right: 100px;
}

.book-name {
  font-weight: bold;
  padding-top: 15px;
}

.book-author {
  font-style: italic;
}

.footer {
  padding-top: 20px;
}