@import "~bootstrap/scss/bootstrap";

body {
    margin-top: 150px;
    max-width: 100%;
    overflow-x: hidden;

}

.book-list {
    text-align: center;
}


.cart-list {
    text-align: center;
}

.book-image {
    width: 150px;
}

.book-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.book-category-header {
    font-weight: bold;
}

.cart-row {}

.book-title {
    margin-top: 20px;
    font-weight: 600;
}

.book-total-price {
    font-weight: bold;
}

.cart-amount-header {
    font-weight: bold;
}

.book-quantity {}

.book-price {}

.book-button {
    margin-left: 10px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}